// Place all the styles related to the customer/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.description{
 position: relative;
}

.text {
  position: absolute; 
  top: 50%;
  left: 20%;
  transform: translate(15%, -40%);
}