<div class="container">
 <div class="row">
  <div class="col text-center">
    <div class="mt-10 mb-4">
    <h1><strong>About</strong></h1>
    </div>
    <h4>
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。
    </h4>
    <%= image_tag "cake.png", size: '630x300', class: "mt-5" %>
   </div>
 </div>
</div>